#wrapper{
    width: 95%;
    margin: auto;
}
header{
    text-align: center;
}
a {
    
}
#nav{

}
.active{

}
#principal{

}
#footer{

}
.acoes{

}
.botao{

}
.alt{

}
.icones{

}
.copyright{

}
body{
    background-image:
        linear-gradient(to bottom, #5f4f93, #dd7682);
}
